<h1><%= @user.first_name %>'s Profile</h1>
<br>
<br>

<ol>
    <li>Name: <%= @user.full_name %></li>
    <br>
    <li>Gender: <%= @user.gender == "Female" ? "Witch" : "Wizard" %></li>
    <br>
    <li>Age: <%= @user.age == nil ? "???" : @user.age%></li>
    <br>
    <li>House: <%= @user.house %></li>
    <br>
    <li>Description: <%= @user.description %></li>
</ol>

<br>
<br>
<% if logged_in? && current_user.username == @user.username %>
    <div class="right"><a href="<%=edit_user_url%>">Anything incorrect?</a></div>
<% end %>
<br>
<br>
<% if logged_in? && @user.username == current_user.username %>
    <form action="<%= hoots_url %>" method="POST">
        <input id="hootbox" type="text" name="hoot[body]">
        <input type="submit" value="Hoot!">
    </form>
<% end %>
<br>
<br>
<h3> <%= @user.first_name %>'s Hoots</h3>
<br>
    <% @user.hoots.each do |hoot| %>
    <%= hoot.body %>
        <% if logged_in? && current_user.username == @user.username %>
            <form class="right" action=" <%= hoot_url(hoot.id) %>" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="hoot[id]" value="<%=hoot.id%>">
                <input type="submit" value="Delete">
            </form>
        <% end %>
    <br>
<% end %>

<div class="right"><a href="<%=users_url%>">Back to main</a></div>
